body {
    margin: 20px;
    font-family: cursive;
}
.Photo {
    width: 130px;
    border-radius: 10px;
}
.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    border-bottom: 7px solid #4f772d;
    border-left: 7px solid #4f772d;
    color: #2b2839;
    background-color: #aaf683;
    font-size: 14px;
    border-radius: 10px;
    
}